<!DOCTYPE html>

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="icon" href="img/utensils-solid.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="img/utensils-solid-192.png">
  <link rel='manifest' href='js/manifest.json'>
  <link rel='stylesheet' type='text/css' href='css/materialize.css'>
  <meta name="description" content="Mensastisch PWA, PROGMOBA WS 21/22, Gruppe 5"/>
  <meta name="theme-color" content="#421c4a"/>

  <!-- register service worker -->
  <script type="text/javascript">
      (function() {
        console.log("Attempting to register service worker");
        //service worker support?
        if ("serviceWorker" in navigator) {
          navigator.serviceWorker.register('serviceworker.js').then(function(reg) {
              console.log('service worker registered successfully', reg);
            })
            .catch(function(error) {
              console.log("service worker registration failed with ", error);
            });
        }
      })();;
  </script>
    <script src="https://unpkg.com/dexie/dist/dexie.js"></script>
</head>
<html>

<body>
<div class="container">
    <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">MensaApp</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="mensa">Find Mensa</a></li>
            <li><a href="badges.html">Dummy 1</a></li>
            <li><a href="collapsible.html">Dummy 2</a></li>
          </ul>
        </div>
    </nav>