<%- include('head.ejs') %>

<nav>
    <div class="navbar-fixed row center">
        <div><a href="/" class="col s3 logo">
            <svg id="mensastisch-logo">
                <use xlink:href="/img/sprite.svg#logo"></use>
            </svg></a>
        <div>
        <div><a href="/canteen/search"><i class="col s3 material-icons">location_on</i></a></div>
        <div><a href="/diet"><i class="col s3 material-icons">filter_list</i></a></div>
        <div><a href="/preferences"><i class="col s3 material-icons">settings</i></a></div> 
    </div>
  </nav>

<!-- <nav>
    <div class="nav-wrapper">
        <a href="#" class="logo right">
            <svg id="mensastisch-logo">
                <use xlink:href="/img/sprite.svg#logo"></use>
            </svg>
            <ul class="left">
                <li>
                    <a class="dropdown-trigger" data-target="dropdown-menu" href="#">
                        <i class="material-icons">menu</i></a>
                </li>
                <li><a href="/">Mensastisch</a></li>
            </ul>
    </div>
</nav> -->