<%- include('head.ejs') %>
<!-- Dropdown Menu Structure -->
<ul id="dropdown-menu" class="dropdown-content">
    <li><a href="/canteen/search">Find Canteen</a></li>
    <li><a href="#!">Meal</a></li>
    <li><a href="#!">Diet</a></li>
    <li><a href="#!">Profil</a></li>
    <li><a href="#!">Logout</a></li>
</ul>

<nav>
    <div class="nav-wrapper">
        <a href="#" class="logo right">
            <svg id="mensastisch-logo"><use xlink:href="/img/sprite.svg#logo"></use></svg> 
            <ul class="left">
            <li>
                <a class="dropdown-trigger" data-target="dropdown-menu" href="#">
                <i class="material-icons">menu</i></a>
            </li>
            <li><a href="/">Mensastisch</a></li>
        </ul>
    </div>
</nav>