<%- include('head.ejs') %>

<nav>
    <div class="navbar-fixed"> 
        <div>
            <a href="/canteen/search">
                <i class="material-icons">location_on</i>
            </a>
        </div>
        <div>
            <a href="/calendar">
                <i class="material-icons">today</i>
            </a>
        </div>
        <div>
            <a href="/" class="logo">
                <svg id="mensastisch-logo">
                    <use xlink:href="/img/sprite.svg#logo"></use>
                </svg>
            </a>
        </div>
        <div>
            <a href="/diet">
                <i class="material-icons">filter_list</i>
            </a>
        </div>
        <div>
            <a href="/preferences">
                <i class="material-icons">settings</i>
            </a>
        </div> 
    </div>
</nav>
