<%- include('partials/header.ejs') -%>

<div class="container bg-light">
  <form>
    <ul class="collection with-header">
        <li class="collection-header"><h4><%= title -%>></h4></li>
        <%= list =%>

        <li class="collection-item">Alvin</li>
      </ul>
    </form>   
</div>

<%- include('partials/footer.ejs') -%>