<%- include('partials/header.ejs') %>
    <div class="container">
        <div class="input-field">
            <input id="findMensa" type="text" onkeyup="showCanteens(this.value)"/>
            <label for="findMensa">Find Mensa</label>
        </div>
        <ul id="searchResults"></ul>
    </div>
<%- include('partials/footer.ejs') %>