<%- include('partials/header.ejs') -%>
<div class="container">
    <div class ="row lighten-4">
        <%- header %>
    </div>
</div>


<script>
    
</script>
<%- include('partials/footer.ejs') -%>