<%- include('partials/header.ejs') -%>
<div class="container offline">
    <h1>Offline-Modus</h1>
    <i class="material-icons">portable_wifi_off</i>
    <ul>
        <li><h3><a href="/canteen/search">Mensa suchen</a></h1></li>
        <li><h3><a href="/">Zuletzt angesehene Speisekarte</a></h1></li>
        <li><h3><a href="/calendar">Speiseplan</a></h1></li>
        <li><h3><a href="/preferences">Einstellungen</a></h1></li>
    </ul>
</div>

<%- include('partials/footer.ejs') -%>